<div class="row">
  <div class="ml-5 col-xs-12">
    <div class="topPad">
      <div class="rwBold">In</div>
      <div class="rwBold">Plain</div>
      <div class="rwBold">Site</div>
    </div>
    <div class="mt-5 row justify-content-start">
     <div class="col-xs-3">
       <img src="/images/nav.png" alt="nav" width="100px">
     </div>
     <div class="col-xs-3">
       <a href="/nav">
         <img src="/images/search.png" alt="search" width="100px">
       </a>
     </div>
   </div>
  </div>
</div>
<div class="mt-5 justify-content-end">
 <div class="col-xs-12">
   <img class="float-right" src="/images/uel_transparent_logo.png" alt="uel" width="50px">
 </div>
</div>
