<div class="row">
  <div class="col-xs-12">
    <div class="topPad">
      <div class="rwBold">In</div>
      <div class="rwBold">Plain</div>
      <div class="rwBold">Site</div>
    </div>
  </div>
</div>
