<div class="row justify-content-center">
  <div class="col-3 roomElem">
    <p class="pt-3 roomElem">Room</p>
  </div>
  <div class="pt-3 col-3 roomInfo">
    <p class="roomInfo">AVA G21</p>
  </div>
</div>
<div class="mt-5 row justify-content-center">
  <a class="orangeBg col-9" href="https://www.youtube.com/">
    <p class="pt-3 orangeBg whiteText">Watch the induction</p>
  </a>
  <a class="mt-1 col-9 orangeBg" href="#">
    <p class="pt-3 orangeBg whiteText">See the potential</p>
  </a>
  <a class="mt-1 col-9 orangeBg" href="https://ueladi.siso.co/docklands/index.php">
    <p class="pt-3 orangeBg whiteText">Book the room</p>
  </a>
</div>
<div class="mt-5 row justify-content-center">
  <a class="mt-1 col-9 blueBg" href="#">
    <p class="pt-3 blueBg whiteText">Your technicians</p>
  </a>
  <a class="mt-1 col-9 blueBg" href="#">
    <p class="pt-3 blueBg whiteText">Additionl information</p>
  </a>
</div>
