body{
  background-color: #F0F0F0;
  margin-top: 50px;
}

.roomElem {
  background-color: white;
}

.roomInfo {
  background-color: #00D0CD;
}

p.roomElem {
  color: #55595C;
}

p.roomInfo {
  color: white;
}

.orangeBg {
  background-color: #FEB700;
}
